<% include ../general/header %>
<%
    var msg = i18n.msgConfirmSignUp;
    msg = msg.replace(':email:', user.email);
%>
<body>
    <div class="form mt-5 mx-auto">
        <% include ../general/logo %>
        <div class="max-auto text-center clearfix mt-3">
            <h4 class="mt-3 mb-3">
                <%= i18n._signup %>
            </h4>
            <p><%- i18n._dear %> <b><%- user.getDisplayName(); %></b></p>
            <div class="alert alert-warning" role="alert">
                <%- msg %>
            </div>
        </div>
    </div>
    <% include ../general/footer %>
</body>
</html>