language: node_js
node_js:
  - "6.11"
services:
  - mysql
env:
  - PORT=3000
  - APP_NAME=Express Demo
  - DB_HOST=127.0.0.1
  - DB_DATABASE=test
  - DB_USER=travis
  - DB_PASS=
  - DB_DIALECT=mysql
  - DB_POOL_MAX=5
  - DB_POOL_MIN=0
  - DB_POOL_IDLE=10000
  - DB_LOGGING=false
  - SESSION_WORD=E3p53m0
  - SESSION_AGE=86400000
  - SESSION_ONLY_HTTP=false
  - BCRYPT_SALT_ROUNDS=10
sudo: false
cache:
  directories:
    - node_modules
before_install:
  - mysql -e 'CREATE DATABASE IF NOT EXISTS test;'
  # Skip updating shrinkwrap / lock
  - "npm config set shrinkwrap false"

  # Remove all non-test dependencies
  - "npm rm --save-dev connect-redis"

  # Update Node.js modules
  - "test ! -d node_modules || npm prune"
  - "test ! -d node_modules || npm rebuild"
script:
  - "npm run test-navigation"
  - "npm run grunt exec:eslint"
  - "npm run grunt exec:minGeneral"
