<div class="footer">
    <%- PER.config.app.name %> &copy; <%- PER.const.CURRENT_YEAR %>
</div>

<script>
    var uriWelcome = "<%= PER.config.app.uriWelcome %>";
    window.Tether = {};
</script>

<!-- https://code.jquery.com/jquery-3.2.1.min.js -->
<script src="/js/vendor/jquery-3.2.1.min.js"></script>

<!-- https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js -->
<script src="/js/vendor/popper.min.js"></script>

<!-- https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js -->
<script src="/js/vendor/bootstrap.min.js"></script>

<script src="/js/general.js"></script>