<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/img/favicon.ico">

    <title><%- PER.config.app.name %></title>

    <!-- https://getbootstrap.com/docs/4.0/getting-started/download/ -->
    <link rel="stylesheet" href="/css/vendor/bootstrap.min.css"/>

    <!-- https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css -->
    <link rel="stylesheet" href="/css/vendor/font-awesome.min.css"/>

    <!-- https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css -->
    <link rel="stylesheet" href="/css/vendor/bootstrap-social.min.css"/>

    <link rel="stylesheet" href="/css/main.css"/>
</head>